/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 17, 2024, 2:52:22 PM
    Author     : admin
*/

html{
    overflow-x: hidden;
}
.header{
    font-family: math;
}
a{
    text-decoration: none;
    color: black;
}
.header-title{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 30px;
    background: #f1f0f0;
    height: 48px;
}
.header-title-left{
    flex: 0 0 50%;
    max-width: 50%;
    box-sizing: border-box;
    max-height: 100%;
}
.header-title-left ul {
    padding: 0px;
}
.header-title-left ul li{
    font-size: 15px;
    color: #1c1c1c;
    display: inline-block;
    margin-right: 35px;
    position: relative;
}
.header-title-left ul li:after{
    position: absolute;
    right: -18px;
    top: -1px;
    height: 20px;
    width: 1px;
    background: #000000;
    opacity: 0.2;
    content: "";
}
.header-title-right{
    flex: 0 0 50%;
    max-width: 50%;
    box-sizing: border-box;
    padding: 16px 0px;
    text-align: right;
}
.header-title-right-social{
    display: inline-block;
    position: relative;
    margin-right: 5%;
}
.header-title-right-social div{
    display: inline-block;
    position: relative;
    font-size: 18px;
    margin-right: 10px;
}
.header-title-right-social div:first-child{
    margin-right: 20px;
}
.header-title-right-social:after{
    position: absolute;
    right: -18px;
    top: -1px;
    height: 20px;
    width: 1px;
    background: #000000;
    opacity: 0.2;
    content: "";
}
.header-title-right-about{
    position: relative;
    display: inline-block;
    margin-right: 5%;
}
.header-title-right-about a:after{
    position: absolute;
    right: -18px;
    top: -1px;
    height: 20px;
    width: 1px;
    background: #000000;
    opacity: 0.2;
    content: "";
}
.header-title-right-login{
    display: inline-block;
}
.header-title-right-login span {
    margin-left: 6px;
}
.header-content{
    display: flex;
    flex-wrap: wrap;
    height: 130px;
}
.header-content-logo img{
    height: 135px;
    width: 208px;
    margin-top: 5px;
    margin-left: 21px;
}
.header-content-logo {
    flex: 0 0 20%;
    max-width: 20%;
}
.header-content-menu{
    flex: 0 0 55%;
    max-width: 55%;
    padding: 35px 0px;
    text-align: center;
}
.header-content-menu ul li {
    font-size: 20px;
    list-style: none;
    display: inline-block;
    margin-right: 34px;
    position: relative;
}
.header-content-menu ul li.active a {
    color: #7fad39;
}
.header-content-menu ul li:hover > a {
    color: #7fad39;
}
.header-content-menu ul li .header-content-menu-drop-down li:hover > a {
    color: #7fad39;
}
.header-content-menu ul li a{
    font-family: monospace;
    color: #252525;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
    display: block;
}
.header-content-menu ul li .header-content-menu-drop-down{
    position: absolute;
    border: 1px solid;
    border-radius: 4px;
    left: -69px;
    text-align: left;
    top: 51px;
    background: #141512c9;
    width: 240px;
    z-index: 9;
    padding: 15px 1px;
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
    opacity: 0;
    visibility: hidden;
}
.header-content-menu ul li:hover > .header-content-menu-drop-down {
    top: 30px;
    opacity: 1;
    visibility: visible;

}
.header-content-menu ul li .header-content-menu-drop-down li:hover > a  {
    color: #9fff0e;
    background: gray;
}

.header-content-menu ul li .header-content-menu-drop-down li {
    margin-right: 0;
    display: block;
}
.header-content-menu ul li .header-content-menu-drop-down li a {
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 400;
    padding: 6px 7px;
}
.header-content-right-menu {
    flex: 0 0 25%;
    max-width: 25%;
    text-align: right;
}
.header-content-right-menu a{
    font-size: 24px;


}
.header-content-right-menu img{
    width: 40px;
    height: 30px;
}
.header-content-right-menu ul li{
    display: inline-block;
    position: relative;
}
.header-content-right-menu ul{
    padding: 38px 0px;
}
.header-content-right-menu li:last-child{
    margin-right: 100px;
    margin-left: 40px;
}
.margin-unit{
    margin-left: 33px;
}