/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 11, 2024, 2:48:05 PM
    Author     : trant
*/

.title{
    margin-bottom: 5vh;
}
.card{
    margin: 62px 13px 72px 29px;
    width: 110%;
}

.cart{
    background-color: #ffffff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    flex: 66%;
    box-shadow: -1px 1px 6px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.summary{
    width: 100%;
    background-color: #f8f8f8;
    margin: 7px 0px 10px;
    color: rgb(65, 65, 65);
    border: 1px dashed #dfd7d7;
}

.row{
    font-family: sans-serif;
    display: flex;
}
.title b{
    font-size: 1.5rem;
}
.main{
    margin: 0;
    padding: 2vh 0;
    width: 100%;
    border: solid 1px;
}
.col{
    padding: 0 1vh;
    flex: auto;
    text-align: center;
    font-size: 14px;
}
a{
    padding: 0 1vh;
}
.close{
    margin-left: auto;
    font-size: 0.7rem;
}
img{
    width: 9.5rem;
}
.back-to-shop{
    margin-top: 4.5rem;
}
input:focus::-webkit-input-placeholder
{
    color:transparent;
}
.btn{
    background-color: #2bd282;
    color: white;
    width: 107px;
    font-size: 13px;
    height: 31px;
    padding: -1px 13px;
    border: none;
    margin-top: -2px;
    margin-right: 50px;
}
.btnvoucher{
    margin-top: 0;
    width: 42%;

}
.btn:hover{
    background-color: white;
    color: black;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: black;
    text-decoration: none;
}
.popup {
    filter: none;
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
        opacity 200ms ease-in-out 0ms,
        transform 20ms ease-in-out 0ms;

}
.popup.active {
    top: 60%;
    left: 63%;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
        opacity 200ms ease-in-out 0ms,
        transform 200ms ease-in-out 0ms;
}
.popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: red;
    color:#eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.blurred-background {
    filter: blur(5px); /* Điều chỉnh giá trị 5px nếu cần */
}
.display-none{
    display: none;
}

aside {
    color: #fff;
    /*width: 200px;*/
    padding-left: 20px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: 33px;
    background-color: #a9edae;
    transition: height .2s ease;
}

aside a {
    font-size: 15px;
    color: black;
    display: block;
    padding: 12px;
    padding-left: 30px;
    text-decoration: none;
    -webkit-tap-highlight-color:transparent;
}

aside a:hover {
    color: #3f5efb;
    background: #fff;
    outline: none;
    position: relative;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

aside a i {
    margin-right: 5px;
}

aside a:hover::after {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: 100%;
    right: 0;
    height: 35px;
    width: 35px;
    border-bottom-right-radius: 18px;
    box-shadow: 0 20px 0 0 #fff;
}

aside a:hover::before {
    content: "";
    position: absolute;
    background-color: transparent;
    top: 38px;
    right: 0;
    height: 35px;
    width: 35px;
    border-top-right-radius: 18px;
    box-shadow: 0 -20px 0 0 #fff;
}

aside p {
    margin: 0;
    padding: 14px 0;
    color: black;
    font-size: 24px;
}
.social {
    height: 0;
}

.social i:before {
    width: 14px;
    height: 14px;
    font-size: 14px;
    position: fixed;
    color: #fff;
    background: #0077B5;
    padding: 10px;
    border-radius: 50%;
    top:5px;
    right:5px;
}
.search-btn{
    border-radius: 4px;
    background-color: #143a17;
    color: white;
    font-size: 12px;
    width: 94px;
    height: 31px;
    border: none;
}
.change-quantity{
    border-radius: 6px;
    background-color: #c5c7cc;
    color: wheat;
    transition: all,0.5s;
    padding: 0px 5px 0px 4px;
    margin: 0px 5px 0px 6px;
}
.change-quantity:hover{
    transform: scale(0.9);
}
/*.menu-section-content-categories-1 {
    flex: 0 0 26%;
    max-width: 26%;
    position: sticky;
    bottom: 20px;
}*/
.menu-section-content-categories-1 ul {
    padding-left: 2px;
    margin-top: 13px;
    padding-bottom: 0px;
    width: 236px;
}
.menu-section-content-categories-1 ul li {
    list-style: none;
    padding: 12px 0px;
    font-size: 19px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 100;
}
.menu-section-content-categories-1 ul li:hover {
    background: #7fad39;
    color: white;
}
.menu-section-content-categories-unit-1{
    height: 42px;
    background-color: #e5b223;
    border-radius: 13px;
    text-align: center;
    margin-right: 10px;
}
.menu-section-content-categories-unit-1 i {
    font-size: 23px;
    color: black;
    cursor: pointer;
}
.menu-section-content-categories-unit-1 span {
    font-size: 15px;
    color: black;
    padding-top: 7px;
}
.content-title-2{
    position: relative;
    cursor: pointer;
}

.sider-menu-1{
    margin-left: -20px;
    margin-top: 5px;
    /* width: 240px; */
    padding-left: 20px;
}

.sider-menu-1 li {
    list-style-type: none;
}
#touch-1 {
    position: absolute;
    opacity: 0;
    height: 0px;
}

#touch-1:checked + .sider-menu-1 {
    height: 250px;
}
.summary .summary-child:last-child{

}
.cart-contact{
    background-color: #fff;
    padding: 14vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    flex: 82%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
}
.cart-contact input{
    margin-top: -5px;
    font-size: 14px;
    padding: 9px 10px;
    width: 100%;
    height: 15%;
}
.cart-contact label{
    margin: 10px;
}
.cart-contact select{
    font-size: 13px;
    width: 137px;
    height: 35px;
    padding: 7px;
}
.summary-order{
    background-color: #f8f8f89c;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(65, 65, 65);
    flex: auto;
    position: relative;
    display: table;
    table-layout: fixed;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
}
.summary-order img{
    width: 3.5rem;
    padding-left: 10px;
}
.summary-product{
    background-color: #f9f9f9;
    border-radius: 13px;
    margin: 18px;
    display: flex;
    align-items: center;
    margin-bottom: 34px;
}
.button-back {
    background-color: #222;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 9px 20px 8px;
    touch-action: manipulation;
    margin-top: 13px;
}
.button-back:hover,
.button-back:focus {
    opacity: .75;
}
.value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 5px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.value-button:hover {
    cursor: pointer;
}

.frm  #decrease {
    margin-right: -4px;
    height: 32px;
    margin-top: -2px;
    background: none;
}

.frm  #increase {
    margin-left: -4px;
    height: 32px;
    margin-top: -2px;
    background: none;
}

.frm  #input-wrap {
    margin: 0px;
    padding: 0px;
}

input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 32px;
    margin-bottom: 13px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.shop__sidebar__accordion .card-heading a:after, .shop__sidebar__accordion .card-heading>a.active[aria-expanded=false]:after {
    content: "";
    font-family: "FontAwesome";
    font-size: 24px;
    font-weight: 700;
    color: #111111;
    position: absolute;
    right: 0;
    top: 2px;
    line-height: 20px;
}
.btn-back button{
    margin-top: 15px;
    padding: 7px 15px;
    background: #5bbc5b;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    transition: all 0.5s;
}
.btn-back button:hover{
    cursor: pointer;
    transform: scale(0.95);
}
.big-summary-product{
    overflow-y: scroll;
}
.row-edit td{
    text-align: center;
    width: 77px;
    border-right: 1px solid;
}
.row-edit{
    border-bottom: 1px solid;
}